body{
    background-color: lightseagreen;
    color: white;


}
h1{
    background-color: lightcoral;
    color: yellow;
   
}

a{
    text-decoration: none;
    color: rgb(251, 188, 188);
}